.catalogue-item__section-link {
  color: $white;
  background-color: $green;
  border-radius: 3px;
  padding: 3px 9px;
  display: inline-block;
  margin-right: 10px;
}

.catalogue-item__section-link--blog {
  background-color: $blue;
}

.catalogue-item__section-link--programming {
  background-color: $red;
}

.catalogue-item {
  display: block !important;
}